<label for="password">enter a password</label>
<input 
       type="password" 
       name="password" 
       ng-model="user.password"
       required>
<div ng-messages="registerForm.password.$error">
    <p ng-message="required">Please enter a password.</p>
</div>
<label for="verifyPassword">verify password</label>
<input 
       type="password" 
       name="verifyPassword" 
       ng-model="verifyPassword"
       required>
<div ng-messages="registerForm.verifyPassword.$error">
    <p ng-message="required">Please re-enter your password.</p>
</div>
<a ui-sref="register.characters">back</a>
<button type="submit">finish registration</button>